h1{
	text-align: center;
	background-color: pink;
	font-size: 80px;

}
img{
	position: absolute;
	left: 1111px;
	top: 625px;
}
h3{
	color: blue;
}
h4{
	color: green;
}
h2{
	color:blac
}
h2{
	text-align: left;
}
button{
	font-size: 25px;
	background-color: pink;
}

}
div{
	margin-left: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
li {
    display: inline;
    margin-left: 60px;

}
