div{
	text-align: center;
background-color: pink;
 font-size: 50px;
}
p{
    font-size:30px;
}

.notpink{
	background-color: white;
}

button{
	width: 300px;
	height: 150px;
	font-size: 35px;
	background-color: pink;
	margin-top: 15px;
}   

button:hover{
	background-color: purple;
	color: white;
}   

img{
	position: absolute;
	left: 1100px;
	top: 600px;
}