div{
	text-align: center;
background-color: pink;
 font-size: 50px;
}
p{
    font-size:30px;
}

.notpink1{
	background-color: white;
}

.notpink2{
	background-color: white;
}

.notpink3{
	background-color: white;
}

.notpink4{
	background-color: white;
}

.notpink5{
	background-color: white;
}