div{
	text-align: center;
background-color: pink;
 font-size: 50px;
}
p{
    font-size:30px;
}

.notpink{
	background-color: white;
}
a{
	font-size: 40px;
}
button{
	width: 300px;
	height: 150px;
	background-color: pink;
	font-size: 40px;
}    
